.nav {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    > .nav-group {
        padding: 20px;
        border: 2px solid $gray-light;

        > .nav-item {
            .form-group {
                margin-bottom: 20px;
            }
        }
    }
}
