
.header {
    border-bottom: 1px solid $gray-light;
    @mixin headerFooter;
    .header-r {
        flex: 1;
        .btn {
            color: unset;
            >a.active {
                text-decoration: underline!important;
            }
        }
    }
}
