.form-group {
    margin-bottom: .4rem;

    .form-label {
        margin-bottom: .4rem;
    }

    .form-select {
        appearance: none;
        background: #fff;
        border: 1px solid $gray-normal;
        border-radius: 2px;
        height: 30px;
        line-height: 14px;
        outline: 0;
        padding: 10px;
        vertical-align: middle;
        width: 100%;
    }

}

